<!-- 
  _layouts/default.html
  customization to original Midnight theme 
  found through GitHub Pages Themes
 -->
<html lang="{{ site.lang | default: "en-US" }}">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<link rel="stylesheet" href="{{ '/assets/css/universal.css?v=' | append: site.github.build_revision | relative_url }}">
  	{% include header.html %}
    <body class="main_body">
		<section class="main_section">
			{{ content }}
		</section>
    </body>
</html>
